body {
	background-color: lightblue;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.conteneur{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border: 10px solid teal;
	padding: 10px solid teal;
	margin: 10px solid teal;
	background-color: teal;
	border-radius: 10px ;
}

	.conteneur #résultat{
		color: purple;
	}

	